<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molarity Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <script src="{{ url_for('static', filename='java.js') }}" defer></script>
</head>
<body>
    <header>
        <h1>Molarity Calculator</h1>
        <p>Calculate the molarity of a solution.</p>
    </header>
    <main class="calculator-page">
        <label for="molarityMass">Mass of Solute (g):</label>
        <input type="number" id="molarityMass" placeholder="Enter Mass of Solute">
        <label for="molarMass">Molar Mass (g/mol):</label>
        <input type="number" id="molarMass" placeholder="Enter Molar Mass">
        <label for="molarityVolume">Volume (L):</label>
        <input type="number" id="molarityVolume" placeholder="Enter Volume of Solution">
        <button onclick="calculateMolarity()">Calculate Molarity</button>
        <div class="result" id="molarityResult"></div>
    </main>
    <footer>
        <p>&copy; 2024 Molecular Biology Calculators</p>
    </footer>
</body>
</html>
